@model Milty.Models.UserTask

@{
    ViewBag.Title = "Просмотр задачи";

    var backRepo = "";
    if (Request["backto"] != null) {
        backRepo = Request["backto"];
    }
}

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>

    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
    <hr />
    <dl class="dl-horizontal dl-horizontal-new">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repository)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repository)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id })
    }

    @if (backRepo == "")
    {
        @Html.ActionLink("Вернуться к списку", "Index")
    }
    else
    {
        @Html.ActionLink("Вернуться к списку", "Details", "Repositories", new { id = backRepo }, null)
    }
</p>
