@model Milty.Models.EditUserModel

@{
    ViewBag.Title = "Создание пользователя";
}

@{
    List<Milty.Models.NewListItem> listItems = new List<Milty.Models.NewListItem>();

    listItems.Add(new Milty.Models.NewListItem
    {
        Text = "User",
        Value = "User",
        Selected = false
    });

    listItems.Add(new Milty.Models.NewListItem
    {
        Text = "Teacher",
        Value = "Teacher",
        Selected = false
    });

    listItems.Add(new Milty.Models.NewListItem
    {
        Text = "Admin",
        Value = "Admin",
        Selected = false
    });

}

<h2>@ViewBag.Title.</h2>

<div>

    @using (Html.BeginForm("CreateUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            @Html.LabelFor(Model => Model.AccessLevel, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select class="form-control" id="AccessLevel" name="AccessLevel">
                    @foreach (Milty.Models.NewListItem listItem in listItems)
                    {
                        <option value="@listItem.Value">@listItem.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Firstname, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(Model => Model.Firstname, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Lastname, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(Model => Model.Lastname, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Создать" />
            </div>
        </div>
    }
</div>

